* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#planner-container {
  margin: 25px;

  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(8, 1fr);

  input {
    margin: 10px;
  }

  // Default planner block CSS is assumed to be for an inactive block
  .planner-block {
    height: 75px;
    width: 100%;

    border: solid black 1px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    background-color: gray;

    p {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 10px;
    }

    .planner-block--data {
      // border: solid yellow 1px;
      height: 100%;
      width: fit-content;
      padding: 0 25px;

      display: flex;
      align-self: center;
      justify-content: center;
      flex-direction: column;

      text-align: center;

      border-right: solid black 1px;

      h1 {
        font-size: 1.25em;
      }

      h2 {
        font-size: 0.75em;
      }
    }

    .planner-block--options {
      // border: solid red 1px;
      height: 100%;
      width: fit-content;

      white-space: nowrap;

      border-left: solid black 1px;

      button {
        height: 100%;
        width: 75px;
      }
    }
  }
  // Current active block
  .planner-block.current-block {
    background-color: red;
  }
  // Future inactive blocks
  .planner-block.future-block {
    background-color: green;
  }
}
